#company-div{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card{
    width: 100%;
    margin-bottom: 2em;
}

#company-main{
    display: flex;
    margin-top: 2em;
    margin-bottom: 1.5em;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
