    #login-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 5em;
      }

      .container {
        width: 100%;
        padding: 20px;
        background-color: #f8f9fa; 
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
      }
      
      form {
        width: 100%;
      }
      
      form > button {
        width: 100%;

      }


#errors-div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color:#f5364f ;
  padding: 0;
}




