    #login-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50vh; /* Make it full viewport height */
        width: 100%;
      }

      .container {
        width: 100%;
        padding: 20px;
        background-color: #f8f9fa; /* Optional background color */
        border-radius: 10px; /* Optional rounded corners */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow */
      }
      
      form {
        width: 100%;
      }
      
      form > button {
        width: 100%; /* Full width button */
      }

#errors-div{
        background-color:#f5364f ;
    }



